
body {
    font-family: 'Roboto', sans-serif;
}

.section1 {
    background-color: #1F2937;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-weight: bolder;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

li {
    padding-left: 8px;
    padding-right: 8px;
    color: #f9faf8;
}

.link {
    align-items: center;
    margin-left: auto;
}

.placeholder {
    display: flex;
    flex: 1 1 auto;
    align-self: flex-end;
    justify-content: flex-start;
    margin: auto;
    max-height: 300px;
    width: auto;
}

.top1a {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.top1 {display: flex;}

.signup {
    background-color: #3882F6;
    max-width: 87px;
    height: auto;
    color: white;
    border-radius: 12%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-style: none;
}

.Big1 {
    font-size: 48px;
    color: white;
    font-weight: bolder;
}

.text1 {
    font-size: 18px;
    color: #e5e7eb;
}

.section2 {
    background-color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    
}

.big2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container div {
    color: #1F2937;
    font-size: 18px;

}

.section2 img {
    display: flex;
    flex: 1 1 auto;
    max-height: 200px;
    box-sizing: border-box;
    width: auto;
    border: 5px solid #3882F6;
    border-radius: 20%;
    justify-content: space-around;
    margin: 15px;

}

.flower1, .flower2, .flower3, .flower4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    box-sizing: content-box;

}