
body {
    font-family: 'Roboto', sans-serif;
    viewport-fit: 100%;
}

.section1, .section2, .section3 {
    max-height: 450px;
}

.section1 {
    background-color: #1F2937;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-weight: bolder;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

li {
    padding-left: 8px;
    padding-right: 8px;
    color: #f9faf8;
}

.link {
    align-items: center;
    margin-left: auto;
}

.placeholder {
    display: flex;
    flex: 1 1 auto;
    align-self: flex-end;
    justify-content: flex-start;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 20px;
    height: auto;
    width: 40px;
}

.top1a {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.top1 {display: flex;}

.signup {
    background-color: #3882F6;
    max-width: 87px;
    height: auto;
    color: white;
    border-radius: 12%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-style: none;
}

.Big1 {
    font-size: 48px;
    color: white;
    font-weight: bolder;
}

.text1 {
    font-size: 18px;
    color: #e5e7eb;
}

.section2 {
    background-color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    
}

.big2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container div {
    color: #1F2937;
    font-size: 18px;

}

.section2 img {
    display: flex;
    flex: 1 1 auto;
    max-height: 200px;
    box-sizing: border-box;
    width: auto;
    border: 5px solid #3882F6;
    border-radius: 20%;
    justify-content: space-around;
    margin-left: 8px;
    margin-bottom: 15px;

}

.section2 {
    height: 450px;
}

.flower1, .flower2, .flower3, .flower4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    box-sizing: border-box;

}

.flowertext {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    padding-left: 75px;
    padding-right: 75px;

}

.boldtext {
    color: #1F2937;
    font-size: 30px;
    font-weight: 600;
    margin-top: 48px;
    margin-left: 700px;
}

.section4 {
    height: 450px;
    background-color: white;
}

.bluebox{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding: 50px 75px 50px 75px;
    margin: 150px;
}

.CTA {
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    font-weight: 400;
    border-radius: 13%;
    border: white solid 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    width: fit-content;
    height: auto;
}

.text2 {
    color: white;
    justify-content: flex-start;
    margin-right: 60px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 200;
}

.footer {
    display: block;
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 18px;
    font-stretch: extra-expanded;
}